li {
	margin: 10px;
}

#container {
	padding: 30px;
	background-color: yellow;
}

.class1 {
	background-color: pink;
}

.class2 {
	background-color: green;
}

.highlighted{
	font-weight: bold;
	color: limegreen;
	background-color: fuchsia;
	border-color: midnightblue;
}