body {
	font-family: arial;
	background-color: #9B50AF;
}

.no-highlight {
	background-color: #3BEAB4;
}

button {
	margin: 150px auto;
}

.highlighted {
	background-color: #9B50AF!important;
}

#example {
	width: 100px;
	height: 100px;
	margin: 150px auto;	
	background-color: #3BEAB4;
}
